[Unit]
Description=Resumen matutino del asistente

[Service]
Type=oneshot
WorkingDirectory=/home/sanuel/Escritorio/SP/sistema-escolar/asistente
ExecStart=/usr/bin/python3 /home/sanuel/Escritorio/SP/sistema-escolar/asistente/asistente.py resumen
